variables in python
x != X
You can declare more than one variables like input[14] below
To output code just type in the variable or print(variable)
Types are:
Numbers, Boolean, Strings

In [9]:
x = 5

In [10]:
x

5

In [11]:
y = 8

In [12]:
y

8

In [13]:
print(y)

8

In [14]:
x,y = (1,2)

In [15]:
x

1

To verify the type of a variable or even a value say 4 or string, check as below.

In [16]:
x1 = 5

In [17]:
type(x1)

int

Transform a variable or value to an integer as below
Transform to float using float()

In [18]:
floatNumber = 7.999

In [19]:
int(floatNumber)

7

Boolean variables takes True or False typed with first letter in caps

Defining string variables
When outputting a string, to remove the quotes from the result use print()

In [20]:
myName = "Williams"

In [22]:
myName

'Williams'

To output a number and string, we must make sure the two variables are of the same type hence we will need to use str() to convert the integer/number to a string as below

In [23]:
y = 10
print (str(y) + " Dollars")

10 Dollars