# Wk1 Trk2, Day 3: 01/09/21
<br>

# Exercises: Functional programming
---
<br>

##### Programming Workshop for Scientists in Africa <www.pwsafrica.org>. 
##### Supported by the School of Computing Science, University of Glasgow.
##### Funded by the Global Challenges Research Fund and Scottish Funding Council.
<br>

##### PWSA2021. Python 3.x
---

<div class="alert alert-danger"> <b>IMPORTANT:</b> You do not have permission to save any file under the examples/pwsa2021 directory. Before you begin solving the exercises, first save this notebook in your home directory! </div>

How do I save a notebook in my home directory?
* First open the notebook you want to copy 
* Go to **File** in the menu bar
* Click on **Save Notebook As**
* The current path is: **examples/pwsa2021/Week1Track2/Exercises/\<name of notebook\>.ipynb**

        where <name of notebook> can be day3_exercises ....
    
* Rename the path to **\<name of notebook\>.ipynb**
* If you go back to your home directory, i.e., outside "examples/pwsa2021", you will see the notebook you copied over. This is where you type your solution and save as you go along.

---

In today's exercises, we'll practice the material that was covered in this morning's lecture.

Some problems at the end of the exercise notebook are marked as _optional_. Your progress on those problems won't be assessed: these problems have been provided as an additional challenge for people that have found the earlier problems straightforward.

## 1. Fix the names

Write a function, `fix_names`, that takes a list of names, and returns the names properly formatted. A name is properly formatted if it has a capital letter at the beginning of each separate word.

For example, if `names = ["bob", "sofiat", "fionnuaLA", "aNgus"]`, then `fix_names(names) == ["Bob", "Sofiat", "Fionnuala", "Angus"]`.

You should use functional programming techniques to solve this problem.

In [65]:
names = ["bob", "sofiat", "fionnuaLA", "aNgus"]
#def upp(x):
    #elt.capitalize()
def fix_names(a):
    print(list(map( lambda x: x.capitalize(), a)))
fix_names(names)
#print(list(map( lambda x: x.capitalize(), names)))

['Bob', 'Sofiat', 'Fionnuala', 'Angus']

## 2. pi

Write a function, `pi_to_n`, that returns a list of _n_ values of pi, with increasing numbers of decimal places, starting with 3.14.

For example, `pi_to_n(3) == [3.14, 3.142, 3.1416]`.

You should use functional programming techniques to solve this problem.

_Hint: math.pi will give you the value of pi._

In [230]:
import math
    

pi = math.pi
def pi_to_n(n):
    list_a = [pi]*n
    print(list(map( lambda x: round(x, 2), list_a ))) 
pi_to_n(5)

[3.14, 3.14, 3.14, 3.14, 3.14]

## 3. zip

Write a function, `zip_the_lists`, that takes two lists, of the same length, and returns a single list, where each element is a tuple containing elements from the same position in each list.

For example, `zip_the_lists([1, 2, 3], [4, 5, 6]) == [(1, 4), (2, 5), (3, 6)]`.

You should use functional programming techniques to solve this problem.

In [231]:
a = [1,2,3]
b = [5,6,7]
def zip_the_lists(x,y):
    for i in range(0, len(a)):
        zipped_list = [(a[i], b[i]) for i in range(0, len(a))]
        return zipped_list
print(zip_the_lists(a,b))

[(1, 5), (2, 6), (3, 7)]

## 4. Even numbers

Write a program that prints the first 200 even numbers.

You should use functional programming techniques to solve this problem.

In [232]:
def even_no(x):
    return x % 2 == 0

print(list(filter(even_no, range(2,200))))

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28, 30, 32, 34, 36, 38, 40, 42, 44, 46, 48, 50, 52, 54, 56, 58, 60, 62, 64, 66, 68, 70, 72, 74, 76, 78, 80, 82, 84, 86, 88, 90, 92, 94, 96, 98, 100, 102, 104, 106, 108, 110, 112, 114, 116, 118, 120, 122, 124, 126, 128, 130, 132, 134, 136, 138, 140, 142, 144, 146, 148, 150, 152, 154, 156, 158, 160, 162, 164, 166, 168, 170, 172, 174, 176, 178, 180, 182, 184, 186, 188, 190, 192, 194, 196, 198]

## 5. Sum odd, sum even

Write a function, `sum_odd_sum_even`, that takes a list of integers, and returns a tuple that contains two values. The first value should be the sum of all of the even numbers in the list, and the second value should be the sum of all of the odd numbers in the list.

For example, `sum_odd_sum_even([5, 8, 32, 3, 2]) == (8, 42)`.

You should use functional programming techniques to solve this problem.

In [114]:
from functools import reduce
def add(x, y):
    return x + y
def even_no(x):
    return x % 2 == 0
def odd_no(x):
    return x % 2 != 0
def sum_odd_even(a):
    turple = (reduce(add, filter(even_no, a))), reduce(add, filter(odd_no, a))
    return turple
myList = [5, 8, 32, 3, 2]
sum_odd_even(myList)

(42, 8)

## 6. join

Write a function, `join_the_strings`, that takes a list of strings and a character, and returns a single string that has joined the strings together, separated by the character.

For example, `join_the_strings(["hello", "my", "name", "is", "bob"], '+') == "hello+my+name+is+bob"`.

You should use functional programming techniques to solve this problem.

In [125]:
def join_strings(a, b):
    text = b.join(a)
    return text
join_strings(["hello", "my", "name", "is", "bob"], '+')

'hello+my+name+is+bob'

## Optional: 7. Managing workshop participants

Let's imagine that you've decided to host a workshop to teach Python. You've decided to store participant information in a list of dictionaries, structured like this:

```
participants = [{"first_name": "Hester", "last_name": "Macdonald", "track": 1},
                {"first_name": "Dorian", "last_name": "Foster", "track": 2},
                {"first_name": "Conal", "last_name": "Delgado", "track": 2},
                {"first_name": "Aisha", "last_name": "Torres", "track": 2},
                {"first_name": "Adeline", "last_name": "Mcdougall", "track": 1},
                {"first_name": "Lola", "last_name": "Delaney", "track": 1},
                {"first_name": "Saim", "last_name": "Bone", "track": 2},
                {"first_name": "Jobe", "last_name": "Wills", "track": 1},
                {"first_name": "June", "last_name": "Rush", "track": 2},
                {"first_name": "Winifred", "last_name": "John", "track": 1}]
```

### 7.1 Mail merge

You want to send a message to all of the participants. You want the message to include their full name. To do this, you need to generate a list of all of the participants full names. Write a function that does this, using functional programming techniques.

For example, using the data above, you would produce this list: `["Hester Macdonald", "Dorian Foster", "Conal Delgado", "Aisha Torres", "Adeline Mcdougall", "Lola Delaney", "Saim Bone", "Jobe Wills", "June Rush", "Winifred John"]`.

In [228]:
participants = [{"first_name": "Hester", "last_name": "Macdonald", "track": 1},
                {"first_name": "Dorian", "last_name": "Foster", "track": 2},
                {"first_name": "Conal", "last_name": "Delgado", "track": 2},
                {"first_name": "Aisha", "last_name": "Torres", "track": 2},
                {"first_name": "Adeline", "last_name": "Mcdougall", "track": 1},
                {"first_name": "Lola", "last_name": "Delaney", "track": 1},
                {"first_name": "Saim", "last_name": "Bone", "track": 2},
                {"first_name": "Jobe", "last_name": "Wills", "track": 1},
                {"first_name": "June", "last_name": "Rush", "track": 2},
                {"first_name": "Winifred", "last_name": "John", "track": 1}]

for i in participants:
    name = i["first_name"] +' '+ i["last_name"]
    print(name)

Hester Macdonald
Dorian Foster
Conal Delgado
Aisha Torres
Adeline Mcdougall
Lola Delaney
Saim Bone
Jobe Wills
June Rush
Winifred John

### 7.2 Group creator

Next, you want to split your participants into groups. Groups are allocated based on the first letter of each participant's name: a group will only contain participants whose names start with the same letter. To help with this, you need to generate a dictionary. The dictionary will contain a key corresponding to each letter of the alphabet, where the values are lists of participants assigned to the group.

For example, using the data above, you'd create a dictionary that included this key, value pair:
```
{ ..
  'J' : ["Jobe Wills", "June Rush"],
  ..
}
```

You should use functional programming techniques to solve this problem. Some groups might be empty, or include only one person -- that's OK for this exercise.

In [112]:
participants = [{"first_name": "Hester", "last_name": "Macdonald", "track": 1},
                {"first_name": "Dorian", "last_name": "Foster", "track": 2},
                {"first_name": "Conal", "last_name": "Delgado", "track": 2},
                {"first_name": "Aisha", "last_name": "Torres", "track": 2},
                {"first_name": "Adeline", "last_name": "Mcdougall", "track": 1},
                {"first_name": "Lola", "last_name": "Delaney", "track": 1},
                {"first_name": "Saim", "last_name": "Bone", "track": 2},
                {"first_name": "Jobe", "last_name": "Wills", "track": 1},
                {"first_name": "June", "last_name": "Rush", "track": 2},
                {"first_name": "Winifred", "last_name": "John", "track": 1}]
import string
d = dict.fromkeys(string.ascii_uppercase, )
for i in d:
    for j in i:
        if j == "'A'":
            d[i][j] = "No"
        else:
            d[i][j] = "yes"
d

TypeError: 'NoneType' object does not support item assignment

## Optional: 8. Number swap

Write a function, `number_swap`, that takes two numbers, `a` and `b`. The function should swap digits in the first number with digits from the second, such that it generates the largest possible numbers. 

For example, `number_swap(6423, 551) == 6553`. Here, the 4 in the first number is swapped with a 5 from the second number. 2 in the first number is swapped for the other 5 in the second.

Note: we're only allowed to use each digit in the second number at most once. 

_You do not need to use functional programming techniques to solve this problem._

In [ ]:
def number_swap(a,b):